.breadcrumbs {
  li {
    position: relative;
    padding-right: var(--spacing-small);
  }

  & > li + li {
    padding-left: var(--spacing-medium);

    &:before {
      position: absolute;
      display: flex;
      align-content: center;
      top: 0;
      left: 0;
      bottom: 0;
      color: var(--silver);
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDggMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0yLjk3ODY2IDEwLjk0MzNMNy45OTk5OSA2LjAwMDAxTDIuOTc4NjYgMS4wNTY2OEMyLjQ1MDY2IDAuNTM3MzQyIDEuNTkxMzIgMC41MzczNDIgMS4wNjMzMiAxLjA1NjY4QzAuNTM1MzIzIDEuNTc2MDEgMC41MzUzMjMgMi40MjI2OCAxLjA2MzMyIDIuOTQyNjhMNC4xNjkzMiA2LjAwMDAxTDEuMDYzMzIgOS4wNTgwMUMwLjgwNzMyMyA5LjMxMDAxIDAuNjY2NjU2IDkuNjQ0NjggMC42NjY2NTYgMTAuMDAwN0MwLjY2NjY1NiAxMC4zNTY3IDAuODA3MzIzIDEwLjY5MTMgMS4wNjMzMiAxMC45NDMzQzEuNTkxMzIgMTEuNDYzMyAyLjQ1MTMyIDExLjQ2MzMgMi45Nzg2NiAxMC45NDMzWiIgZmlsbD0iI2Q2ZGFlZCIvPgo8L3N2Zz4K");
    }
  }
}
