.usage-line {
  position: relative;
  padding-bottom: var(--spacing-medium);
}

.usage-line-bar,
.usage-line-amount {
  position: absolute;
  bottom: 0;
  content: " ";
  display: block;
  height: 0;
  padding-bottom: var(--spacing-extra-extra-small);
  border-radius: var(--border-radius-1);
}

.usage-line-bar {
  width: 100%;
  background-color: var(--snow);
}

.usage-line-amount {
  background-color: var(--kale);
}
