<button class="<%= @classes %>" type="button"
  <% @attributes.each do |key, value| %>
    <%= key %>="<%= value %>"
  <% end %>>
  <%= render(IconComponent.new(name: @icon_name, title:  @icon_title, size: 24, classes: @icon_classes)) %>
</button>
