<div class="<%= @container_classes %>">
  <% if @has_error %>
    <%= render(InputErrorLabelComponent.new(label: @error, id: @error_id)) %>
  <% end %>
  <%= tag.input name: @name,
    id: @id,
    type: "checkbox",
    value: @value,
    class: @classes
  %>
  <%= render(InputLabelComponent.new(label: @label, html_for: @id, classes: @label_classes)) %>

</div>
