<%
  text ||= ""
  citeName ||= ""
  citeRole ||= ""
%>

<blockquote class="ma0 ph5">
  <p class="f6 slate mb4 measure">“<%= text %>”</p>
  <cite class="f7 fs-normal"><strong class="fw6 db mb1"><%= citeName %></strong> <%= citeRole %></cite>
</blockquote>
