<%
  color ||= "dragonfruit"
  id ||= nil 
  type ||= "submit"
  classes ||= nil

  # Trailing space in string below important
  allClasses = "bg-#{color} hover-bg-#{color}-light focus-bg-#{color}-light active-bg-#{color}-dark br2 white tc pv2 ph4 bn sans-serif f7 fw6 lh-copy "
  allClasses << classes unless classes.nil?
%>

<button
  <% if id %>id="<%= id %>"<% end %>
  class="<%= allClasses %>"
    type="<%= type %>">
  <%= children %>
</button>
