<%
  value ||= nil
  name ||= nil
  id ||= name
  label ||= nil
  type ||= "text"
  placeholder ||= nil
  autofocus ||= nil
  required ||= false
  readonly ||= false
  containerClasses ||= nil
  labelClasses ||= nil
  inputClasses ||= nil
  error ||= nil
  errorID = "error-#{SecureRandom.hex(4)}"
  hasError ||= !error.nil?

  allInputClasses = %w(checkbox clip)
  allInputClasses << inputClasses unless inputClasses.nil?
  allInputClasses << %w(b--radish focus-b--radish hover-b--radish focus-bs-radish error) if hasError
  
  allLabelClasses = %w(checkbox-label)
  allLabelClasses << labelClasses unless labelClasses.nil?
  
  ariaDescribedBy ||= ""
  ariaDescribedBy << errorID if hasError 
%>

<div class="<%= containerClasses %>">
  <%= tag.input name: name,
    id: id,
    type: "checkbox",
    value: value,
    class: allInputClasses
  %>
  <%= render(InputLabelComponent.new(label: label, html_for: id, classes: allLabelClasses)) %>
  <% if hasError %>
    <%= render(InputErrorLabelComponent.new(label: error, id: errorID)) %>
  <% end %>
</div>
