<%
  value ||= nil
  name ||= nil
  id ||= name
  label ||= nil
  type ||= "text"
  placeholder ||= nil
  autofocus ||= nil
  required ||= false
  readonly ||= false
  containerClasses ||= nil
  labelClasses ||= nil
  inputClasses ||= nil
  error ||= nil
  errorID = "error-#{SecureRandom.hex(4)}"
  hasError ||= !error.nil?

  allInputClasses = %w(sans-serif black f7 input-reset br2 ba b--silver hover-b--slate focus-b--starflower focus-bs-starflower pa3 lh-solid w-100)
  allInputClasses << inputClasses unless inputClasses.nil?
  allInputClasses << %w(b--radish focus-b--radish hover-b--radish focus-bs-radish error) if hasError

  ariaDescribedBy ||= ""
  ariaDescribedBy << errorID if hasError 
%>

<div class="<%= containerClasses %>">
  <%= render(InputLabelComponent.new(label: label, html_for: id, classes: labelClasses)) %>
  <% if hasError %>
    <%= render(InputErrorLabelComponent.new(label: error, id: errorID)) %>
  <% end %>
  <%= tag.input name: name,
    id: id,
    type: type,
    value: value,
    autofocus: autofocus,
    readonly: readonly,
    required: required,
    class: allInputClasses,
    placeholder: placeholder,
    aria: {
      describedby: ariaDescribedBy,
    }
  %>
</div>
